<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> {{ appName }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="primary">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <!-- Basic -->
    <ion-accordion-group>
      <ion-accordion
        *ngFor="let bills of billsPerYear"
        toggle-icon="arrow-down-circle"
      >
        <ion-item slot="header">
          <ion-label>{{bills.year }}</ion-label>
        </ion-item>

        <ion-list slot="content">
          <ion-item *ngFor="let bill of bills.values; index as i">
            <ion-label> {{ bill .createdAt | date: 'MMMM' }}</ion-label>
            <ion-button (click)="deleteBill(bills.year, i)" fill="outline" slot="end" color="danger">delete</ion-button>
            <ion-button (click)="viewDetails(bills.year, i)" slot="end">details</ion-button>
          </ion-item>
        </ion-list>
      </ion-accordion>
    </ion-accordion-group>
  </ion-card>
</ion-content>
